<div x-data="{ show: false }" class="relative">
  <input
    :type="show ? 'text' : 'password'"
    name="{{ widget.name }}"
    {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
    {% include "django/forms/widgets/attrs.html" %}
  />
  <button
    type="button"
    class="absolute inset-y-0 right-0 px-3 text-xs text-muted"
    @click="show = !show"
    :aria-label="show ? 'Hide password' : 'Show password'"
  >
    <span x-text="show ? 'Hide' : 'Show'"></span>
  </button>
</div>
