{% load ui_icons %}<div x-data="{ show: false }" class="relative">
  <input
    type="password"
    :type="show ? 'text' : 'password'"
    name="{{ widget.name }}"
    {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
    {% include "django/forms/widgets/attrs.html" %}
  />
  <button
    type="button"
    class="absolute inset-y-0 right-1 my-auto grid h-10 w-10 place-items-center rounded-[10px] text-muted hover:text-primary"
    @click="show = !show"
    :aria-label="show ? 'Hide password' : 'Show password'"
    aria-label="Show password"
  >
    <span x-show="!show">{% icon "eye" %}</span><span x-show="show" x-cloak>{% icon "eye-off" %}</span>
  </button>
</div>
