{% extends "base.html" %}

{% block title %}{{ page_title|default:"Lexicon" }}{% endblock %}

{% block body_extra_attrs %}
  data-portal="{{ portal|default:'admin' }}"
  x-data="{ navOpen: false }"
  @keydown.escape.window="navOpen = false"
{% endblock %}

{% block body %}
  <div class="flex min-h-screen flex-col bg-page">
    {% block shell_header %}{% endblock %}
    <div class="flex flex-1">
      {% block shell_sidebar %}{% endblock %}
      <main class="min-w-0 flex-1 px-4 py-5 md:px-7 md:py-6" id="main">
        <div class="mx-auto max-w-[1240px]">
          {% block shell_content %}{% endblock %}
        </div>
      </main>
    </div>
    {% block shell_footer %}{% endblock %}
  </div>
{% endblock %}
