{% extends "base.html" %}

{% block title %}{{ page_title|default:"LMS" }}{% endblock %}

{% block body_extra_attrs %}
  data-portal="{{ portal|default:'admin' }}"
  x-data="{}"
{% endblock %}

{% block body %}
  <div class="flex min-h-screen flex-col bg-page">
    {% block shell_header %}{% endblock %}
    <div class="flex flex-1">
      {% block shell_sidebar %}{% endblock %}
      <main class="flex-1 p-4 md:p-6">
        <div class="mx-auto max-w-7xl">
          {% block shell_content %}{% endblock %}
        </div>
      </main>
    </div>
    {% block shell_footer %}{% endblock %}
  </div>
{% endblock %}
